#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  color: rgb(66, 65, 65);
  font-size: 25px;
}

.title {
  font-weight: 1000;
}

.flashcard-img {
  width: 110px;
  border-radius: 8px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 10px;
  position: absolute;
  margin-top: -100%;
}

.container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  height: 60vh;
  padding: 0.5rem;
}

.flashcard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flashcard-wrapper {
  /* display: inline-block; */
  width: 250px;
  height: 300px;
  perspective: 1000px;
  margin-bottom: 2.5rem;
}

.description {
  font-weight: 700;
}

.total {
  margin-top: 0.5rem;
}

.card-body {
  width: 100%;
  height: 150%;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-inner.is-flipped {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #7dd6ec;
  border-radius: 8px;
  border: 3px solid #659ed3;
  color: rgb(66, 65, 65);
  font-weight: 1000;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.card-back {
  transform: rotateY(180deg);
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  max-width: 250px;
  margin-top: 20%;
}

.button-wrapper button {
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.button-wrapper button.faded {
  opacity: 0.5s;
}

.button-wrapper button:disabled {
  opacity: 0.2s;
  cursor: not-allowed;
}

.prev-btn, .next-btn {
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px;
  border: 3px solid #396894;
  background-color: #6266a1;
  cursor: pointer;
  width: 45%;
}


.next-btn:hover {
  box-shadow: 0 0 10px #396894;
}

.prev-btn:hover {
  box-shadow: 0 0 10px #396894;
}

.easy-card {
  background-color: #64cb76;
}

.medium-card {
  background-color: yellow;
}

.hard-card {
  background-color: red;
  color: white;
}

.card-front.easy-card, .card-back.easy-card {
  background-color: #64cb76;
}

.card-front.medium-card, .card-back.medium-card {
  background-color: yellow;
}

.card-front.hard-card, .card-back.hard-card {
  background-color: red;
  color: white;
}

.random-btn {
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px;
  border: 3px solid #396894;
  background-color: #63ec86;
  cursor: pointer;
  width: 45%;
}

.random-btn:hover {
  filter: drop-shadow(0 0 2em #1e7a57);
}
.random-btn.react:hover {
  filter: drop-shadow(0 0 2em #1e7a57);
}

input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #3ba857;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  background-color: white;
  color: black;
}

.submit-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.feedback {
  font-weight: bold;
  margin-top: 8px;
  font-size: 50px;
}

.submit-btn {
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px;
  border: 3px solid #396894;
  background-color: #3ba857;
  cursor: pointer;
  width: 45%;
}